/* You can add global styles to this file, and also import other style files */
body {
    font-size: 28px;
}

input[type=checkbox]{
    transform: scale(2);
}

button {
    font-size: 28px;
    margin:10px 15px 0 0;
}
.row{
    margin:5px;
    background-color: #ddd;
    padding:15px;
}